.App {
  text-align: center;
}

div.tree {
  width: 20%;
  display: inline-block;
  position: relative;
  border: 1px solid black;
}

div.stem {
  width: 60%;
  height: auto;
  margin: auto;
  border: 1px solid black;
  position: absolute;
}

img.stem {
  width: 100%;
}

div.leaf-left {
  width: 49%;
  height: 14%;
  float: right;
  border: 1px solid black;
}

div.leaf-right {
  width: 48%;
  height: 14%;
  float: left;
  border: 1px solid black;
}

img.leaf {
  width: 50%;
}

.leaf:hover {
  opacity: 0.3;
}

.bud:hover {
  opacity: 0.3;
}

.App-title {
  font-size: 1.5em;
}

/* .App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
