.App {
  text-align: center;
  width: 800px;
  margin: auto;
}

div.trees {
  margin-top: 75px;
}

div.tree {
  width: 20%;
  display: inline-block;
  position: relative;
}

div.stem {
  top: 48px;
  left: 75px;
  width: 1px;
  height: 290px;
  background-color: rgb(160, 160, 45);
  position: absolute;
}

div.left {
  width: 50%;
  float: left;
}

div.right {
  width: 50%;
  height: 100%;
  float: right;
}

.left img {
  width: 51%;
  float: right;
  clear: both;
}

.right img {
  width: 51%;
  float: left;
  clear: both;
}

img:hover {
  opacity: 0.3;
}

div.leaf-left {
  width: 48%;
  height: 30px;
  float: right;
  border: 1px solid black;
  z-index: 0;
}

div.leaf-right {
  width: 48%;
  height: auto;
  float: left;
  border: 1px solid black;
  z-index: 0;
}

img.bud {
  height: 50px;
  width: auto;
}

.App-title {
  font-size: 1.5em;
}

.hide {
  opacity: 0;
}

.hide:hover {
  opacity: 0;
}

.tag {
  color: rgb(194, 194, 194);
  font-size: 0.6em;
}

.UserInput {
  float: right;
  margin-right: 25px;
  margin-top: 4px;
}

.LeaderBoard {
  float: left;
  margin-left: 25px;
  line-height: 0px;
}


/* .App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
