.background {
  width: 800px;
  margin: auto;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.background img {
  width: 800px;
}


.background img:hover {
  opacity: 1;
}

.dirt {
  width: 800px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 485px;
  background-color: rgb(68, 58, 58);
}

.App {
  text-align: center;
  width: 800px;
  margin: auto;
  color: gray;
}

header {
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  color: rgb(162, 167, 44);
}

.navbar {
  padding: 5px;
  color: gray;
}

.navbar a {
  color: gray;
  padding: 0px 15px;
  text-decoration: none;
}

div.trees {
  margin-top: 75px;
}

div.tree {
  width: 20%;
  display: inline-block;
  position: relative;
}

div.stem {
  top: 48px;
  left: 80px;
  width: 1.5px;
  height: 300px;
  background-color: rgb(162, 167, 44);
  position: absolute;
}

div.left {
  width: 50%;
  float: left;
}

div.right {
  width: 50%;
  height: 100%;
  float: right;
}

.left img {
  width: 51%;
  float: right;
  clear: both;
}

.right img {
  width: 51%;
  float: left;
  clear: both;
}

img:hover {
  opacity: 0.3;
}

div.leaf-left {
  width: 48%;
  height: 30px;
  float: right;
  border: 1px solid black;
  z-index: 0;
}

div.leaf-right {
  width: 48%;
  height: auto;
  float: left;
  border: 1px solid black;
  z-index: 0;
}

img.bud {
  height: 50px;
  width: auto;
}

.App-title {
  font-size: 1.5em;
}

.hide {
  opacity: 0;
}

.hide:hover {
  opacity: 0;
}

.tag {
  color: rgb(194, 194, 194);
  font-size: 0.6em;
  clear: both;
}

input{
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: 1.5em;
}

.LeaderBoard {
  width: 150px;
  float: left;
  margin-left: 25px;
  line-height: 0px;
  position: absolute;
}

.LeaderBoard h3 {
  font-size: 3em;
  line-height: 0px;
  color: lightgray;
  margin: 30px auto;
}

.LeaderBoard h4 {
  font-size: 1.5em;
  line-height: 0px;
  color: rgb(165, 165, 165);
  margin: 25px auto;
}

.LeaderBoard h5 {
  font-size: 2em;
  line-height: 0px;
  color: lightgray;
  margin: 0px auto;
}

.timer {
  width: 100px;
  float: Right;
  margin-left: 600px;
  position: absolute;
}


.timer h3 {
  font-size: 5em;
  line-height: 0px;
  color: lightgray;
  margin: 45px auto;
}

.timer h5 {
  font-size: 2em;
  line-height: 0px;
  color: lightgray;
  margin: 0px auto;
}

button {
  font-size: 1.5em;
  width: 100px;
  height: 50px;
  color: gray;
  border-radius: 50%;
}

.level {
  color: rgb(162, 167, 44);
}

.scoreboard {
  width: 200px;
  margin: auto;
}

.scoreboard li {
  text-align: left;
}